#sidebar .minibrick {border-radius: 10px; margin: 5%; width: 20%; height: 8%; background: #67a9cf; display: inline-block; clear: left; }
#sidebar .medibrick {border-radius: 10px; margin: 5%; width: 50%; height: 8%; background: #1c9099; display: inline-block; clear: left; }
#sidebar .megabrick {border-radius: 10px; margin: 5%; width: 80%; height: 8%; background: #016c59; display: inline-block; clear: left; }
#canvas .minibrick {border-radius: 25px; margin: 1%; width: 25.8%; height: 24%; background: #67a9cf; display: inline-block; clear: left; }
#canvas .medibrick {border-radius: 25px; margin: 1%; width: 43%; height: 24%; background: #1c9099; display: inline-block; clear: left; }
#canvas .megabrick {border-radius: 25px; margin: 1%; width: 60.2%; height: 24%; background: #016c59; display: inline-block; clear: left; }
#sidebar {position: absolute; left: 0; top: 0; width: 25%; height: 100%; background-color: #bdc9e1;}
#canvas {position: absolute; right: 0; top: 0; width: 75%; height: 100%; background-color: #f6eff7;}
#sidebar .eitem {border-radius:10px; margin:5%; width:80%; height:4%; background: #f6eff7; float: left;}
.minibrick .eitem {border-radius:25px; margin:1.5%; width:67%; height:28%; background: #f6eff7; float: left;}
.medibrick .eitem {border-radius:25px; margin:1%; width:38%; height:28%; background: #f6eff7; float: left;}
.megabrick .eitem {border-radius:25px; margin:.7%; width:27%; height:28%; background: #f6eff7; float: left;}
#canvas .repeat {font-family: Arial, Helvetica, sans-serif; font-size: 1.875em; color:#f6eff7; height:100%; float:right;}
#canvas .repeat {font-family: Arial, Helvetica, sans-serif; font-size: 1.875em; color:#f6eff7; height:100%; float:right;}
#canvas .repeat {font-family: Arial, Helvetica, sans-serif; font-size: 1.875em; color:#f6eff7; height:100%; float:right;}
#sidebar .repeat {font-family: Arial, Helvetica, sans-serif; font-size: .875em; color:#f6eff7; height:100%; float:right;}
#sidebar .repeat {font-family: Arial, Helvetica, sans-serif; font-size: .875em; color:#f6eff7; height:100%; float:right;}
#sidebar .repeat {font-family: Arial, Helvetica, sans-serif; font-size: .875em; color:#f6eff7; height:100%; float:right;}
